PORT=3000 # Port of the gateway server
ROBLOX_AUTH=secret # Authorization header value for Roblox to authenticate with the gateway

# URLs used for routing to private microservices
COMMUNICATION_SERVICE_URL=http://communication:3000
DISCORD_SERVICE_URL=http://discord:3000
ECONOMY_SERVICE_URL=http://economy:3000
PROXY_SERVICE_URL=http://proxy:3000
USERS_SERVICE_URL=http://users:3000