TRACK_WEBHOOK_URL= # Called by /track endpoints
PURCHASE_WEBHOOK_URL= # For purchase logging events
FUNDS_WEBHOOK_URL= # For fund logging events
TUNNEL_WEBHOOK_URL= # For tunnel updates

PROXIES= # comma-separated host:port:username:password entries (e.g. Webshare's proxy list export). (empty = no proxies)